@model HealthInsurenceSystem.Models.Policy


<h1>Add to Cart Page</h1>
<hr /> 
<hr />

<h2>Policy has been successfully added to your cart </h2>


<form method="post">
 
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">Added Policy Details</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Ptype"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Ptype" class="form-control" />
                        <span asp-validation-for="Ptype" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MonthPremium"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MonthPremium" class="form-control" />
                        <span asp-validation-for="MonthPremium" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Pay Online" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>