
<div class="text-center">
    <h1 class="display-4">Welcome to SMU Health Insurance Portal</h1>
    <p>Learn more about our Health Insurance Plan here</p>
</div>

<h4>Secure your, and your family’s health today! </h4>
<hr />
<img src="https://i2.wp.com/financebuddha.com/blog/wp-content/uploads/2018/07/20182624/Health-Insurance1.jpg?fit=945%2C532&ssl=1" alt="healthinsurancelogo">
<hr />
<h3>Keep Your Loved Ones Safe with Family Health Insurance </h3>

<p>
    We leave no stone unturned to ensure a comfortable life for our loved ones. Health is one aspect of our lives that has become a priority today. The outbreak of the contagious disease, COVID 19, has brought focus on how unpredictable life can be. The world is facing an extraordinary situation amidst the pandemic. Thus, it calls for extraordinary efforts to safeguard the health of your family. A family health insurance policy offers you a financial safety net against unexpected medical expenditures.
</p>

