@model HealthInsurenceSystem.Models.Payment
@using Microsoft.AspNetCore.Http;

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body {
        margin-top: 20px;
    }

    .panel-title {
        display: inline;
        font-weight: bold;
    }

    .checkbox.pull-right {
        margin: 0;
    }

    .pl-ziro {
        padding-left: 0px;
    }
</style>
<script type="text/javascript">
    function validate() {
        $.ajax({
           type: "post",
           dataType: "json",
           url: 'controller/action',
           data: { },
           success: function (jsonData) {
               window.location.href =  '@Url.Action("check", "Payment")'
           }
       });
        e.preventDefault();
        var myTextField = document.getElementById('cardNumber').value;
        var json = { "Status": true, "ErrorCode": 0, "TimeStamp": "\/Date(1311951697070)\/", "Messages": ["Total 2 user(s) returned."], "Data": [{ "card": myTextField, "cvv": document.getElementById('cvv').value, "expiry": document.getElementById('expityMonth').value }] }
        if (document.getElementById('Visa').checked) {
            if (myTextField[0] != 4) {
                alert("Please Enter correct Card Number " + json.Data[0]["card"]);
            }
        } else if (document.getElementById('Master').checked) {
            if (myTextField[0] != 5) {
                alert("Please Enter correct Card Number ");
            }

        }
        if (document.getElementById('expityMonth').value > 13) {
            alert("Please Enter correct Month Value ");
        }
        else {
            if (document.getElementById('expityYear').value < 2020 && document.getElementById('expityYear').value > 2040) {
                alert("Please Enter correct Month Value ");
            }
            else {
                if (document.getElementById('cvv').value < 100 && document.getElementById('cvv').value > 1000) {
                    alert("Please Enter correct CV number ");
                }
                else {
                }
            }
        }

    }
</script>


<form method="post" asp-action="check">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Details
                        </h3>
                    </div>


                    <div class="panel-body">
                        <input type="radio" id="Visa" name="type" value="Visa">
                        <label for="Visa">Visa</label><br>
                        <input type="radio" id="Master" name="type" value="Master">
                        <label for="Master">Master</label><br>

                        <div class="form-group">
                            <label for="cardNumber">
                                CARD NUMBER
                            </label>
                            <div class="input-group">
                                <input asp-for="Cardnumber" type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                       required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expityMonth">
                                        EXPIRY DATE
                                    </label>
                                    <div>
                                        <input asp-for="ExpiredDate" type="text" class="form-control" id="expityMonth" placeholder="MM/YY" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">
                                        CVV CODE
                                    </label>
                                    <input asp-for="Cvv" type="password" class="form-control" id="cvv" placeholder="CV" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    Final Payment is @if (Context.Session.GetInt32("loggedIn") != 1)
                                    {
                                        @TempData["Amount"]
                                    }
                                    else
                                    {
                                        @Context.Session.GetString("Amount");
                                    }
                </ul>
                <br />
                <input type="submit" value='Submit' class="btn btn-success btn-lg btn-block" />
            </div>
        </div>
    </div>
</form>